<a href="https://colab.research.google.com/github/dinhyt9999/Python/blob/master/Home_work2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function Ex5:

In [94]:
import math

def prime_number(number):
  if number < 2 or number != int(number):
    return False
  else:
    n = int(math.sqrt(number))
  if n == 1:
    return True
  for i in range(2,n+1):
    if number % i == 0:
      return False
  if i == n:
    return True

number = float(input('number = '))
if prime_number(number):
  print(number,'is a prime number')
else:
  print(number,'is not a prime number')

number = 37
37.0 is a prime number

Function Ex6:

In [89]:
def armstrong_number(number):
  if number < 0 or number != int(number):
    return False
  k = 0
  n = number
  list = []
  sum = 0
  while n:
    k += 1
    list.append(n % 10)
    n = int(n / 10)
  for i in range(k):
    sum += list[i] ** k
  if sum == number:
    return True
  else:
    return False

number = float(input('number = '))
if armstrong_number(number): 
  print(number,'is a armstrong number')
else:
  print(number,'is not a armstrong number')

number = 1634
1634.0 is a armstrong number

Function Ex7:

In [97]:
def palindromic_number(number):
  if number < 0 or number != int(number):
    return False
  n = number
  k = 0
  list = []
  while n:
    k += 1
    list.append(n % 10)
    n = int(n / 10)
  for i in range(int(k/2)):
    if list[i] != list[k-i-1]:
      return False
  return True

number = float(input('number = '))
if palindromic_number(number):
  print(number,'is a palindromic number')
else:
  print(number,'is not a palindromic number')

number = 1331
1331.0 is a palindromic number

List Ex4,5,6:

In [77]:
import math

def sum_list(list):
  sum = 0
  for item in list:
    sum += item
  return sum

def average(list):
  return sum_list(list)/len(list)

def standard_deviation(list):
  average_number = average(list)
  sum = 0
  for item in list:
    sum += (item - average_number) ** 2
  return math.sqrt(sum/(len(list)-1))

list = []
n = int(input('nhap vao so phan tu cua mang n = '))
for i in range(n):
  list.append(float(input('nhap vao so thu %d: '%(i+1))))

print('standard deviation =',standard_deviation(list))

nhap vao so phan tu cua mang n = 6
nhap vao so thu 1: 10
nhap vao so thu 2: 8
nhap vao so thu 3: 10
nhap vao so thu 4: 8
nhap vao so thu 5: 8
nhap vao so thu 6: 4
standard deviation = 2.1908902300206643

List Ex7,8:

In [ ]:
def clone_list(list):
  new_list = []
  for item in list:
    new_list.append(item)
  return new_list

def remove_list(list):
  new_list = clone_list(list)
  for item in list:
    new_list.remove(item)
    if item in new_list:
      list.remove(item)
  return list
print(remove_list([1,1,3,5,3,2,5]))

[1, 3, 2, 5]

List Ex9:

In [85]:
def swap(list,p1,p2):
  list[p1], list[p2] = list[p2], list[p1]
  return list

def merge_and_sort(list1,list2):
  list = list1 + list2
  for i in range(len(list)-1):
    for j in range(i+1,len(list)):
      if list[i] > list[j]:
        swap(list,i,j)
  return list

def create_new_list():
  list = []
  n = int(input('nhap vao so phan tu cua mang n = '))
  for i in range(n):
    list.append(float(input('nhap vao so thu %d: '%(i+1))))
  return list

list1 = create_new_list()
list2 = create_new_list()
print('new list:',merge_and_sort(list1,list2))

nhap vao so phan tu cua mang n = 3
nhap vao so thu 1: 15
nhap vao so thu 2: 28
nhap vao so thu 3: 19
nhap vao so phan tu cua mang n = 3
nhap vao so thu 1: 34
nhap vao so thu 2: 17
nhap vao so thu 3: 21
new list: [15.0, 17.0, 19.0, 21.0, 28.0, 34.0]

List Ex10:

In [95]:
def list_prime_number(list):
  new_list = []
  for item in list:
    if prime_number(item):
      new_list.append(item)
  return new_list

list = create_new_list()
print('list prime number:',list_prime_number(list))

nhap vao so phan tu cua mang n = 7
nhap vao so thu 1: 1
nhap vao so thu 2: 2
nhap vao so thu 3: 3
nhap vao so thu 4: 4
nhap vao so thu 5: 5
nhap vao so thu 6: 6
nhap vao so thu 7: 7
list prime number: [2.0, 3.0, 5.0, 7.0]

List Ex11:

In [96]:
def list_armstrong_number(list):
  new_list = []
  for item in list:
    if armstrong_number(item):
      new_list.append(item)
  return new_list

list = create_new_list()
print('list armstrong number:',list_armstrong_number(list))

nhap vao so phan tu cua mang n = 10
nhap vao so thu 1: 1
nhap vao so thu 2: 11
nhap vao so thu 3: 370
nhap vao so thu 4: 153
nhap vao so thu 5: 371
nhap vao so thu 6: 1634
nhap vao so thu 7: 22
nhap vao so thu 8: 186
nhap vao so thu 9: 574
nhap vao so thu 10: 1000
list armstrong number: [1.0, 370.0, 153.0, 371.0, 1634.0]

List Ex12:

In [98]:
def list_palindromic_number(list):
  new_list = []
  for item in list:
    if palindromic_number(item):
      new_list.append(item)
  return new_list

list = create_new_list()
print('list prime number:',list_palindromic_number(list))

nhap vao so phan tu cua mang n = 5
nhap vao so thu 1: 15
nhap vao so thu 2: 22
nhap vao so thu 3: 1881
nhap vao so thu 4: 547
nhap vao so thu 5: 694496
list prime number: [22.0, 1881.0, 694496.0]